@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

:root {
    --primary-color: #16a809;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #000000;
}

h1, h2, h3, h4 {
    line-height: 3rem;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* Header */

.main-header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../images/pexels-pixabay-53488.jpg) no-repeat center center/cover;
}

.main-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.header-top {
    position: relative;
    height: 90px;
    z-index: 2;
}

.header-top .logo {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
}

.header-top a {
    position: absolute;
    top: 40%;
    right: 0;
    transform: translate(-50, -50);
    color: #fff;
}

.header-content a {
    color: #fff;
}

.header-content {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;  
    z-index: 2;
}


.header-content p {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-top: 1rem 2rem;
}

.header-content a {
    margin-top: 2rem;
}
/* section Gallery */

section.gallery {
    background: rgb(0, 0, 0);
    width: 100%;
}

section.gallery .gallery-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "box1 box2 box2"
    "box1 box3 box3";
    
}

section.gallery .gallery-container a:first-child {
    grid-area: box1;
    padding: 1rem;
}

section.gallery .gallery-container a:nth-child(2) {
    grid-area: box2;
    padding: 1rem;
}

section.gallery .gallery-container a:last-child {
    grid-area: box3;
    padding: 1rem;
}

.img-container {
    position: relative;
    display: inline-block;
}

.img-container .text-container {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    transition: all .3s ease-in-out;
}

.img-container .text-container:hover {
    opacity: 1;
}

.img-container .text-container {
    font-size: 1.7rem;
    line-height: 2.1rem;
    text-align: justify;
    padding: 0 1.6rem 0 1.6rem;
}

.about-section {
    position: relative;
    background: url(../images/pexels-stephen-joel-1040659.jpg) no-repeat center center/cover;
    height: 600px;
}

.about-section-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 100%;
    padding: 5rem 0;
}

.about-section-inner h3 {
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

.about-section-inner h2 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.about-section-inner p {
    font-size: 1.5rem;
}


/* news letter section */

.news-letter {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(22.5deg, rgb(148, 148, 148) 0%, rgb(148, 148, 148) 3%,rgb(132, 132, 132) 3%, rgb(132, 132, 132) 16%,rgb(117, 117, 117) 16%, rgb(117, 117, 117) 26%,rgb(101, 101, 101) 26%, rgb(101, 101, 101) 29%,rgb(85, 85, 85) 29%, rgb(85, 85, 85) 65%,rgb(70, 70, 70) 65%, rgb(70, 70, 70) 89%,rgb(54, 54, 54) 89%, rgb(54, 54, 54) 100%),linear-gradient(45deg, rgb(148, 148, 148) 0%, rgb(148, 148, 148) 3%,rgb(132, 132, 132) 3%, rgb(132, 132, 132) 16%,rgb(117, 117, 117) 16%, rgb(117, 117, 117) 26%,rgb(101, 101, 101) 26%, rgb(101, 101, 101) 29%,rgb(85, 85, 85) 29%, rgb(85, 85, 85) 65%,rgb(70, 70, 70) 65%, rgb(70, 70, 70) 89%,rgb(54, 54, 54) 89%, rgb(54, 54, 54) 100%),linear-gradient(112.5deg, rgb(148, 148, 148) 0%, rgb(148, 148, 148) 3%,rgb(132, 132, 132) 3%, rgb(132, 132, 132) 16%,rgb(117, 117, 117) 16%, rgb(117, 117, 117) 26%,rgb(101, 101, 101) 26%, rgb(101, 101, 101) 29%,rgb(85, 85, 85) 29%, rgb(85, 85, 85) 65%,rgb(70, 70, 70) 65%, rgb(70, 70, 70) 89%,rgb(54, 54, 54) 89%, rgb(54, 54, 54) 100%),linear-gradient(0deg, rgb(148, 148, 148) 0%, rgb(148, 148, 148) 3%,rgb(132, 132, 132) 3%, rgb(132, 132, 132) 16%,rgb(117, 117, 117) 16%, rgb(117, 117, 117) 26%,rgb(101, 101, 101) 26%, rgb(101, 101, 101) 29%,rgb(85, 85, 85) 29%, rgb(85, 85, 85) 65%,rgb(70, 70, 70) 65%, rgb(70, 70, 70) 89%,rgb(54, 54, 54) 89%, rgb(54, 54, 54) 100%),linear-gradient(90deg, rgb(96, 96, 96),rgb(8, 8, 8)); background-blend-mode:overlay,overlay,overlay,overlay,normal;
}

.news-letter-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.news-letter-inner h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.email-form {
    width: 100%;
    display: inline-block;
    background-color: #555;
    position: relative;
    border-radius: 20px;
    line-height: 0;
    margin-top: 1rem;
}

.email-form .form-control {
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: #ddd;
    background-color: transparent;
    font-size: inherit;
    margin: 0;
    padding: 0 3rem 0 1.5rem;
    width: 100%;
    height: 45px;
    border-radius: 20px;
}

.email-form .submit {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #eee;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: #333;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}


/* Footer */

.footer {
    max-width: 75%;
    margin: 2rem auto;
    overflow: auto;
}

.footer, .footer a {
    color: #999;
    font-size: 0.9rem;
}

.footer p {
    margin-bottom: 1.5rem;
    text-align: center;
}

.footer .footer-col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer li {
    line-height: 1.9rem;
}



/* Utilities */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: 0;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
   box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45); 
   border-radius: 2px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-xl {
    font-size: 1.8rem;
    padding: 1rem 2.1rem;
    text-transform: uppercase;
    border-radius: .8rem;
}

.btn-lg {
    font-size: 1.2rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

.fa-fw {
    margin-left: 1rem;
}

@media  screen and (max-width: 767px) {
    
    .header-top a{
        top: 90%;
        right: 19%;
        transform: translate(-90%, -19%);
    }

    .header-content {
        margin-top: 25%;
    }

    .header-content p {
        font-size: 1.1rem;
        line-height: 1.6rem;
    }

    .header-content h1 {
        font-size: 2.9rem;
    }

    .btn-xl {
        font-size: 1rem;
        padding: 0.6rem 2rem;
    }

    section.gallery .gallery-container {
        grid-template-columns: 1fr;
        grid-template-areas: "box1" 
        "box2"
        "box3";
    }

    section.gallery .gallery-container p {
        font-size: 1.6rem;
    }

    .about-section-inner h3 {
        font-size: 2.4rem;
    }

    .about-section-inner h2 {
        font-size: 1.9rem;
    }

    .about-section-inner p {
        font-size: 1.3rem;
    }

    .news-letter-inner {
        text-align: center;
    }

    .news-letter-inner h3 {
        font-size: 1.0rem;
    }

    .email-form {
        width: 85%;
    }

    .footer .footer-col {
        grid-template-columns: repeat(2, 1fr);
    }

}
